.red{
    background-color: red;
    border-radius: 25%;
    margin-left: 3px;
}
.green{
    background-color: green;
    border-radius: 25%;
}

.title {
    text-align: center;
    align-content: center;
    align-self: center;
}

ion-toolbar {
    padding-left: 1%;
    padding-right: 1%;
}